{% extends 'index.html'%}
{% load static%}
{% block style %}     <link rel="stylesheet" href="{% static 'css/style.css' %}">{% endblock %}
{% block content %}
<div class="main-header">
    <div class="header">
        <h4>Libro's Bookstore</h4>
        <h2>Zbuloni libra te tjere te mrekullueshem</h2>
        <p>Zbuloni histori magjepsëse, njohuri pasuruese dhe frymëzim të pafund
            në koleksionin tonë të librave.</p>
        <a href="" class="btn">Lexo me shume</a>   
        <img src="{% static 'image/header.webp' %}" alt="">
    </div>
</div>
    
<!--10 librat-->

<!-- fund 10 librat-->






{% endblock %}